<section class="bg-primary" id="domes">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 text-center">
                <!--START JUICEBOX EMBED-->
                <script src="jbcore/juicebox.js"></script>
                <script>
                new juicebox({
                containerId: "juicebox-container",
                galleryWidth: "90%",
                galleryHeight: "70%",
                backgroundColor: "rgba(34,34,34,0)"
                });
                </script>
                <div id="juicebox-container"></div>
                <!--END JUICEBOX EMBED-->
                
                <!-- <link rel="stylesheet" type="text/css" href="lightbox2/dist/css/lightbox.min.css">
                <script src="lightbox2/dist/js/lightbox-plus-jquery.min.js">
                </script>

                <div class="gallery">
                    <a href="img/outside.JPG" data-lightbox="mygallery">
                        <img src="img/outside.JPG">
                    </a>
                    <a href="img/inside_panorama.jpg" data-lightbox="mygallery">
                        <img src="img/inside_panorama.jpg">
                    </a>
                    <a href="img/bath_kitchen.JPG" data-lightbox="mygallery">
                        <img src="img/bath_kitchen.JPG">
                    </a>
                    <a href="img/full_kitchen.JPG" data-lightbox="mygallery">
                        <img src="img/full_kitchen.JPG">
                    </a>
                    <a href="img/bath1.JPG" data-lightbox="mygallery">
                        <img src="img/bath1.JPG">
                    </a>
                    <a href="img/bath2.JPG" data-lightbox="mygallery">
                        <img src="img/bath2.JPG">
                    </a>
                    <a href="img/view.JPG" data-lightbox="mygallery">
                        <img src="img/view.JPG">
                    </a>
                    <a href="img/welcome.JPG" data-lightbox="mygallery">
                        <img src="img/welcome.JPG">
                    </a>
                </div>-->
            </div>

            <div class="col-lg-5 text-left">
                <h2 class="section-heading">The Domes</h2>
                <p class="text-domes"> Wake up to some of the most expansive views of the Absaroka-Beartooth mountain range in all of Paradise Valley, and end your evening stargazing into the clear night sky by your personal fire pit.  
                    <br><br>
                    We do not have TV or internet. We hope our guests can unplug, unwind and experience everything the greater Yellowstone area has to offer. We do provide board games in each dome for rainy days.
                    <br><br>
                    Each Dome features a luxurious queen bed, a large bathroom w/ modern appliances and a kitchenette perfect for cooking in, or packing lunches for the trail. The units are also heated and air conditioned for a comfortable stay during any season. Experience nature without sacrificing modern finishes or a warm shower at the end of each day.
                    <!--<br><br>
                    The Domes are in a convenient location with easy highway access: a few minutes to the Mallards Rest fishing access which offers unbeatable access to the Yellowstone River, 15 min to Livingston, 40 min to Yellowstone National Park, and 35 minutes to downtown Bozeman.
                    <br><br>
                    The units are situated on 100 acres which is shared by a horse ranch. The property also borders 120 acres of public Bureau of Land Management land that guests are welcome to explore. We do allow pets!
                    -->
                    </p>
                <a href="#" class="btn btn-primary btn-xl">Book Now</a>
            </div>

        </div>
    </div>

      
</section>
